@model AndresGuaman_Examen1PROG.Models.AndresGuaman_tabla

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AndresGuaman_tabla</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.agSalario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.agSalario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.agNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.agNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.agConNombramiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.agConNombramiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.agFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.agFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.agCedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.agCedula)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="agEmpleadoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
